  @font-face{  
    font-family: "Poppins";
    src: url("../Poppins/Poppins-Regular.ttf");
  
  }
  html{
    scroll-behavior: smooth;
  }
  *{
    font-family: "Poppins";
  }
  body{
    margin: 0;
    -webkit-font-smoothing: antialiased;
    background: white;
  }
  .container{
    display:flex;
    border:solid 0px red;
    flex-direction:column;
    flex-wrap:wrap;
    color:#22092F ;
  }