@font-face{  
  font-family: "Poppins";
  src: url("./Poppins/Poppins-Regular.ttf");

}
*{
  font-family: "Poppins";
}
/*
orange #f25622
purple #270c3b
*/
body{
  margin: 0;
-webkit-font-smoothing: antialiased;
background: #EEEDED;
}

