@font-face{  
  font-family: "Poppins";
  src: url("./Poppins/Poppins-Regular.ttf");

}
*{
  font-family: "Poppins";
}
/*
orange #f25622
purple #270c3b
*/
body{
  margin: 0;
-webkit-font-smoothing: antialiased;
background: #EEEDED;
}
.container{
  display:flex;
  border:solid red;
  flex-direction:column;
  flex-wrap:wrap;
  color:#22092F ;
}
.eventList,.venuesList{
  display:flex;
  align-items:center;
  border:solid black;
  flex-wrap:wrap;
  padding:15px;
}
a, Link{
  text-decoration: none;
  text-transform: none;
}
#menu{
  background-color: #270c3b;
  color: white;
  display: flex;
  align-items: center;
  padding: 40px;
  height: 10px;
}
#menu h1{
  flex: 2;
}
.nav{
flex: 2;
border: solid 1px;
display: flex;
justify-content: right;
}
.nav a{
  margin: 10px;
  text-transform: uppercase;
  color: white;
}
.nav a:hover{
  color: #ff4102;
}
#select{
  width: 120px;
  height: 42px;
  border-radius: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
  padding: 10px;
  color: white;
  background: #643E77;
  border: none;
}
.eventCard{
border: solid 0px;
height: auto;
height: 504px;
width: 361px;
border-radius: 5px;
background-color: #EEEDED;
color: #22092F;
filter: drop-shadow(2px 2px 4px #646464);
padding: 10px;
padding-top: 40px;
cursor: pointer;

margin: 20px;
text-align: center;

}
.eventCard:hover{
  animation: scale 1s;
}
@keyframes scale{
  50%{
      transform: scale(1.1);
  }
  100%{
      transform: scale(1) ;

  }
}
.eventName{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Poppins';
} 
.eventCard label{
  display: flex;
  text-align: left;
  margin: 5px;
  padding: 4px;
}

.thumbnail{
  display: flex;
  flex-direction: column;
  border: solid 0px;
  width:325px;
  filter: drop-shadow(2px 2px 4px #646464);
  margin: auto;
}
.thumbnail img{
border-radius: 10px;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
width:100%;
height:233px;


}
.eventType{
  background: #f25622;
  color:white;
  border-top-right-radius: 6px;
  width: 100px;
  padding: 10px;
  height: 20px;
  text-align: center;
}
.thumbnail .eventType{
  margin-top: -40px;
}
.eventInfo{
  margin: 10px;
}

.btnFullDetails, .btnBookNow, .subscribeButton, .cancelButton{
  width: 50%;
  height: 35px;
  margin: 3px;
  border: none;
  cursor: pointer;
  border-radius:5px ;
  color: white;
  text-decoration: none;
}
.btnFullDetails{ background:#270c3b}
.btnBookNow, .subscribeButton{background:#f25622}
.cancelButton{color: #f25622;background: none;}
.btnFullDetails:hover{
  background-color: #45116d;
}

.btnBookNow:hover{
  background: #ff4102;
}
.activeEvent{
  width:361px;
  height:5px;
  border-radius:2px;
  background:#f25622;
  filter:drop-shadow(2px 2px 8px #f25622);
  margin-left:29px;
  margin-bottom: 20px;
}
.eventSummary{
  background:white;
  border: solid 0px;
  height:400px;
  position:absolute;
  z-index:1;
  width:86%;
  left:0; 
  border-radius:20px;
  margin: 0px 33px;
  overflow: hidden;
  background-image: url("./assets/thumbnail.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  padding: 20px 50px;
}
.info{
  z-index: 2;
  position: relative;
}
.eventSummary::before{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
  /*background: linear-gradient(180deg,#0b0d0f36,rgba(11, 13, 15, 0.205) 50%,#0b0d0f11);*/
  background: linear-gradient(139deg, rgba(0, 0, 0, 0.596) 33%, rgba(0, 0, 0, 0.596) 59%) no-repeat;
}
footer{
  color: white;
  background-color: #282c34;
  height: auto;
  padding: 3% 10%;
  position: relative;
  bottom: 0%;
  top: 100%;
  margin-top: 100px;
}
.subscribeSection{
text-align: center;
border: solid 0px #ff4102;
padding:0px 60px ;
}
.subscribeSection p{
  text-align: start;
}
.subscribeSection span{
  border: solid 1px #ff4102;
  color: #ff4102;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  
}
.subscribeSection input{
  height: 50px;
  width: 35%;
  border: none;
  background-color: black;
  padding-left: 30px;
  color: white;
}
#interests{
  margin-bottom: 30px;
}
.subscribeButton{
width: 10vw;
max-width: 200px;
height: 50px;

}
#getInTouch{
  display: flex;
  border: solid  0 #ff4102;
  justify-content: center;
  
  
}
#getInTouch div{
  border: solid 0 #ff4102;
  margin:15px;
  width: 220px;
  padding: 20px;
}
#getInTouch h2{
  font-size: 16px;
}
#getInTouch label{
  display: flex;
  width: 200px;
  margin: 5px;
}
#social{
display: flex;
flex-direction: column;
}
#getInTouch a{
  text-decoration: none;
  text-transform: none;
  color: white;
  border: solid 0px;
  display: flex;
  margin-bottom: 10px;
}
#getInTouch a:hover{
  color: #ff4102;
}
#getInTouch span{
  margin-right:5px ;
}
#ujLogo{
  display:flex;
  flex-direction:column;
  border:solid;
  align-items: center;
}
#ujLogo img{
  margin: 3px;
}
.container ul{
  list-style: none;
}
.textInput{
  width: 90%;
  height: 40px;
  margin:10px;
  border-radius: 6px;
  padding: 0px 10px;
  border: #45116d solid 2px;
}